* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header img {
    height: 100px;
    margin:  0 auto;
    display: block;
    padding: 20px 0;
}

.borderBottom {
    margin: 0 10%;
    border-bottom: 5px solid black;
}

/* CONTENT */
.about {
    width: 600px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.containerTitle {
    color: rgb(0, 70, 94);
    font-weight: bolder;
    font-size: 50px;
    cursor: default;
}

.containerSubtitle {
    color: rgb(0, 70, 94);
    font-weight: bolder;
    font-size: 26px;
    cursor: default;
}

.container2 {
    text-align: center;
    padding: 10px;
}
