@media only screen and (max-width: 640px) {
    header img {
        width: 70%;
        height: 70%;;
    }

    .borderBottom {
        margin: 0 5%;
    }

    .about {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        margin-top: 15px;
    }

    .i1{
        background-image: url("../media/qwe1.jpg");
        background-size: cover;
        height: 320px;
    }

    .container2 {
        padding: 0;
    }

    .container2 img {
        width: 70%;
    }

    iframe {
        width: 100%;
        height: 200px;
    }

}

